body{
    height: 100%;
    background-color: rgb(195, 196, 102);
}
div #mainScore{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}
div #eachBall{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
#enterDiv{
    display:flex;
    justify-content: space-around;
    padding-top: 40px;
}

.button{
    border-radius: 10px;
    block-size:80px
}
#showOvers{
    display:flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
#oneP{
    background-color: #d9f9c2;
}
#oneN{
    background-color: #f0ba97;
}
#four{
    background-color: #97f0f0;
}
#six{
    background-color: #f3d83d;
}
#wide{
    background-color: #f3f7f7;
}
#noBall{
    background-color: #ee65c0;
}
#bies{
    background-color: #d5f856;
}
#wickets{
    display:flex;
    justify-content: space-around;
    padding-top: 40px;
}
#wicket{
    background-color: #fa4109;
}
#show{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input{
    height: 30px;
    width: 30%;
    margin: 10px;
}
.display{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    border:1px solid black;
    height: 30px;
    width:30%;
    margin: 20px;
    font-size: 30px;
}
#containselect{
    display:flex;
    justify-content: space-evenly;
}

#enter{
    background-color: #faae09;
    width: 250px;
    border-radius: 20px;
    font-size: 35px;
}
#submit{
    background-color: #86e982;
    border-radius: 20px;
    width: 25%;
    height: 100px;
    border-radius: 30px;

}
#match{
    
    display: flex;
    justify-content: center;
    margin:20%;
    
}
.match{
    height: 50px;
    width: 100px;
    background-color: #d5f856;
    border-radius: 10px;
}

